*/bin/*
*/gen/*
*/.settings/*
*/.project
*/.classpath
*/project.properties
*/build/*
*/.gradle/*
*/local.properties
/.gradle
/.idea

/local.properties
/*.puml
/*.iml
*.iml
/captures
/build/intermediates
*/.svn
*/.svn/*
.svn
